body {
    padding-top: 120px;
    margin: 0;
    background-color: whitesmoke;
    color: #495057;
}

.header {
    /* width: 100%; */
    margin: 0;
    padding: 0;
    height: 120px;
    background-color: rgba(46, 46, 46, 0.925);
    color: white;
    display: flex;
    align-items: center;
}

.header > span {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.middle{
    height: 100%;
}

.footer {
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
}

/**** SEARCH ****/

.form-control:not(:last-child){
    border-radius: 5px!important;
}

/**** NAV ****/

.nav-position {
    width: 26.2%;
    position: fixed;
    z-index: 1;
    list-style: none;
    padding: 0;
}

.nav-princ a:hover{
    background-color: rgb(255, 166, 0)!important;
    color: #495057;
}


ul {
    list-style: none;
}

.link-nav {
    color: #495057!important;
    outline : none;

}
.link-add-post:hover {
    color: rgb(255, 166, 0);    
}

.nav-hamburger {
    display: none;
}

.active, .active:focus{
    outline: none;
}

.nav-link:hover {
    color: rgb(255, 166, 0);
}

/**** FORM ****/

.form-control{
    border: none;
    box-shadow: none; 
    -webkit-box-shadow: none;
} 

.contenu {
    min-height: 100vh;
}

.ul-modif{
    padding: 0;
    list-style: none;
    border: 1px solid silver;
    background-color: white;
    border-radius: 7px;
}

li {
    padding: 10px;
}

.li-date{
    text-align: left;
}

.contain{
    font-style: italic;
    font-size: 17px;
}

.my-button{
    color: #495057;
}

a {
    color: #495057;
    padding: 10px;
    text-decoration: none!important;
}

.li-link-form{
    text-align: right;
}

.link-form {
    color: rgb(255, 187, 0);
    text-align: right;
}

.link-form:hover {
    color: rgb(255, 187, 0);
}

.nav-link {
    border-radius: 0!important;
}

.border-input {
    border: 0.5px solid black;
}

/**** RECENTS POST ****/

.link-more-posts{
    color: #495057;
    margin: auto;
}

.title-carou{
    position: absolute;
    top: 290px;
    left: 170px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 10px;
}

.linkCarou:hover{
    color: #495057;
}

img{
    height: 400px;
}

/**** CAROUSEL ****/

.carou {
    padding-left: 0;
}

.bg-carou {
    background-image: url('images/bg_carou.jpeg');
}

.carou-active, .carou {
    background-color: transparent!important;
}

/**** MEDIA QUERIES ****/

@media screen and (min-width: 191px) and (max-width: 766px) {
    .nav-hamburger {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
        background-color: whitesmoke; 
    }
    .nav-hamburger img {
        width: 30px;
        height: 30px;
    }

    .dropdown {
        height: 4vh;
    }

    .nav-princ {
        display: none;
    }

    .nav-types {
        display: none;
    }

    .bg-carou {
        margin-top: 70px;
    }
}


