{% extends "tempLines/base.html.twig" %}

{% block title %}Accueil{% endblock title %}

{% block body %}
<div class="container-fluid p-0">

    {% include "tempLines/header.html.twig" %}

    {% include "tempLines/nav.html.twig" %}

    <div class="row m-0 justify-content-end mq-p-header">


        {% include "tempLines/carousel.html.twig" %}

    </div>

    <div class="row m-0 justify-content-end contenu">
        <div class="col-12 col-md-9 mt-5 mb-4">
            <h4><small>ARTICLES RECENTS</small></h4>
            <hr>
            <div class="row p-3 ml-auto mr-auto">
                {% for line in tab %}
                <div class="col-12 col-md-4 d-flex align-items-stretch">
                    <ul class="ul-modif">
                        <li>
                            <h3>{{ line.title|length > 26 ? line.title|slice(0, 26) ~ '...' : line.title  }}</h3>
                        <li>
                            <p class="contain">
                                {{ line.contain|length > 130 ? line.contain|slice(0, 130) ~ '...' : line.contain  }}
                            </p>
                        </li>
                        <li class="li-link-form">
                            <a class="link-form" href="{{ path('show-post', {id: line.id}) }}"
                                style="text-decoration: none">Lire la suite...</a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
                <a class="link-more-posts btn btn-outline-warning" href="{{ path('all-posts') }}">Tous les
                    articles
                </a>
            </div>
        </div>
    </div>
    {% include "tempLines/footer.html.twig" %}
</div>
{% endblock body %}